{{#each model.Columns as |col|}}
    {{#if col.Commands}}
        <td class="body-cell commands-cell">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-xs" value="Update">
                    <span class="glyphicon glyphicon-save"></span>Save
                </button>
                <button type="button" class="btn btn-default btn-xs" value="Cancel">
                    <span class="glyphicon glyphicon-remove"></span>Cancel
                </button>
            </div>
        </td>
    {{else}}
        {{#if col.Readonly}}
            {{helper bodyCell col}}
        {{else}}
            {{helper editCell col}}
        {{/if}}
    {{/if}}
{{/each}}
