{{helper setPagerFlags}}
{{#if model.pageModel.HasPages}}
<div class="btn-group">
    <button class="ms-page-index btn btn-default {{#if model.pageModel.IsFirstPage}} disabled {{/if}}" title="First page" value="page" data-page="1">
        <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
    </button>

    <button class="ms-page-index btn btn-default {{#if model.pageModel.IsFirstPage}} disabled {{/if}}" title="Previous page" value="page" data-page="{{model.pageModel.PreviousPage}}">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </button>
</div>
<input type="number" name="page" value="{{model.pageModel.page}}" class="form-control" style="width:75px;display:inline-block;vertical-align:middle" />
<span class="page-count">
    of {{model.pageModel.pagecount}}
</span>
<div class="btn-group">
    <button class="ms-page-index btn btn-default {{#if model.pageModel.IsLastPage}} disabled {{/if}}" title="Next page" value="page" data-page="{{model.pageModel.NextPage}}">
        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
    </button>

    <button class="ms-page-index btn btn-default {{#if model.pageModel.IsLastPage}} disabled {{/if}}" title="Last page" value="page" data-page="{{model.pageModel.pagecount}}">
        <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
    </button>
</div>
{{/if}}
