<div class="table-container{{helper containerClasses}}" id="{{model.ID}}">
    {{#if model.Search || model.ToolbarTemplate || model.Create}}
        <div class="table-toolbar">
            {{#if model.ToolbarTemplate}}
                {{template toolbarTemplate}}
            {{else}}
                {{#if model.Search}}
                    <div class="input-group gridponent-searchbox">
                        <input type="text" name="Search" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                {{/if}}
                {{#if model.Create}}
                    <button class="btn btn-default" type="button" value="Create">
                        <span class="glyphicon glyphicon-plus"></span>Add
                    </button>
                {{/if}}
            {{/if}}
        </div>
    {{/if}}
    {{#if model.FixedHeaders}}
        <div class="table-header">
            <table class="table" cellpadding="0" cellspacing="0" style="margin-bottom:0">
                {{helper thead}}
            </table>
        </div>
    {{/if}}
        <div class="table-body {{#if model.FixedHeaders}}table-scroll{{/if}}" style="{{model.Style}}">
            {{template "gridponent-body"}}
        </div>
    {{#if model.FixedFooters}}
        <div class="table-footer">
            <table class="table" cellpadding="0" cellspacing="0" style="margin-top:0">
                {{template "gridponent-tfoot"}}
            </table>
        </div>
    {{/if}}
    {{#if model.Pager}}
        <div class="table-pager">
            {{template "gridponent-pager"}}
        </div>
    {{/if}}
    <style type="text/css" class="sort-style">
        {{helper sortStyle}}
    </style>
    <style type="text/css" class="column-width-style">
        {{helper columnWidthStyle}}
    </style>
</div>
