.gp {
  position: relative;
}
.gp.pager-bottom-left {
  padding-bottom: 50px;
}
.gp.pager-bottom-left .table-pager {
  position: absolute;
  bottom: 0;
  left: 0;
}
.gp.pager-bottom-right {
  padding-bottom: 50px;
}
.gp.pager-bottom-right .table-pager {
  position: absolute;
  bottom: 0;
  right: 0;
}
.gp.pager-top-right {
  padding-top: 40px;
}
.gp.pager-top-right .table-pager {
  position: absolute;
  top: 0;
  right: 0;
}
.gp.pager-top-left {
  padding-top: 40px;
}
.gp.pager-top-left .table-pager {
  position: absolute;
  top: 0;
  left: 0;
}
.gp.search-bottom-left {
  padding-bottom: 50px;
}
.gp.search-bottom-left .table-toolbar {
  position: absolute;
  bottom: 0;
  left: 0;
}
.gp.search-bottom-left .table-toolbar .gp-searchbox {
  margin-right: 5px;
}
.gp.search-bottom-right {
  padding-bottom: 50px;
}
.gp.search-bottom-right .table-toolbar {
  position: absolute;
  bottom: 0;
  right: 0;
}
.gp.search-bottom-right .gp-searchbox {
  float: right;
  margin-left: 5px;
}
.gp.search-top-right {
  padding-top: 40px;
}
.gp.search-top-right .table-toolbar {
  position: absolute;
  top: 0;
  right: 0;
}
.gp.search-top-right .gp-searchbox {
  max-width: 220px;
  float: right;
  margin-left: 5px;
}
.gp.search-top-left {
  padding-top: 40px;
}
.gp.search-top-left .table-toolbar {
  position: absolute;
  top: 0;
  left: 0;
}
.gp.search-top-left .table-toolbar .gp-searchbox {
  margin-right: 5px;
}
.gp.selectable div.table-body > table > tbody > tr:hover {
  background: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
  background: #f6f6f6;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  /* IE6-9 */
  color: #333;
  cursor: pointer;
}
.gp.selectable div.table-body > table > tbody > tr.selected {
  background: #dff0d8;
  color: #000;
}
.gp.fixed-headers {
  overflow-x: auto;
}
.gp.fixed-headers .table-header {
  padding-right: 17px;
}
.gp.fixed-headers .table-header > table {
  margin-bottom: 0;
}
.gp.fixed-headers .table-header > table,
.gp.fixed-headers .table-body > table {
  table-layout: fixed;
}
.gp.fixed-headers .table-header th label {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gp.fixed-headers .table-body {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (max-width: 767px) {
  .gp.fixed-headers-xs {
    overflow-x: auto;
  }
  .gp.fixed-headers-xs .table-header {
    padding-right: 17px;
  }
  .gp.fixed-headers-xs .table-header > table {
    margin-bottom: 0;
  }
  .gp.fixed-headers-xs .table-header > table,
  .gp.fixed-headers-xs .table-body > table {
    table-layout: fixed;
  }
  .gp.fixed-headers-xs .table-header th label {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .gp.fixed-headers-xs .table-body {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .gp.fixed-headers-sm {
    overflow-x: auto;
  }
  .gp.fixed-headers-sm .table-header {
    padding-right: 17px;
  }
  .gp.fixed-headers-sm .table-header > table {
    margin-bottom: 0;
  }
  .gp.fixed-headers-sm .table-header > table,
  .gp.fixed-headers-sm .table-body > table {
    table-layout: fixed;
  }
  .gp.fixed-headers-sm .table-header th label {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .gp.fixed-headers-sm .table-body {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .gp.fixed-headers-md {
    overflow-x: auto;
  }
  .gp.fixed-headers-md .table-header {
    padding-right: 17px;
  }
  .gp.fixed-headers-md .table-header > table {
    margin-bottom: 0;
  }
  .gp.fixed-headers-md .table-header > table,
  .gp.fixed-headers-md .table-body > table {
    table-layout: fixed;
  }
  .gp.fixed-headers-md .table-header th label {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .gp.fixed-headers-md .table-body {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
@media (min-width: 1200px) {
  .gp.fixed-headers-lg {
    overflow-x: auto;
  }
  .gp.fixed-headers-lg .table-header {
    padding-right: 17px;
  }
  .gp.fixed-headers-lg .table-header > table {
    margin-bottom: 0;
  }
  .gp.fixed-headers-lg .table-header > table,
  .gp.fixed-headers-lg .table-body > table {
    table-layout: fixed;
  }
  .gp.fixed-headers-lg .table-header th label {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .gp.fixed-headers-lg .table-body {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}
.gp.fixed-footers .table-footer {
  padding-right: 17px;
}
.gp.fixed-footers .table-footer > table {
  margin-top: 0;
}
.gp.fixed-footers .table-footer > table,
.gp.fixed-footers .table-body > table {
  table-layout: fixed;
  margin-bottom: 0;
}
.gp.fixed-footers .table-footer td {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gp.fixed-footers .table-body {
  max-height: 400px;
  overflow-y: scroll;
}
.gp.busy .gp-progress-overlay {
  z-index: 5;
  opacity: 1;
}
.gp .table-toolbar {
  width: auto;
}
.gp .gp-progress-overlay {
  z-index: -1;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  transition: opacity linear 0.4s;
}
.gp .gp-progress-overlay .gp-progress-container {
  min-width: 150px;
  max-width: 403px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 35%;
  width: 25%;
  margin: 0 auto;
  padding: 3px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 12px 6px #888;
}
.gp .gp-progress-overlay .progress-bar {
  height: 100%;
  width: 100%;
  float: none;
  display: block;
  border: solid 1px #ccc;
  border-radius: 4px;
}
.gp a[value].table-sort {
  color: #337ab7;
  cursor: pointer;
  margin: 0;
  vertical-align: middle;
  background: none;
  border: none;
  padding: 0;
}
.gp a[value].table-sort > span.glyphicon {
  margin-left: 2px;
  display: none;
}
.gp a[value].table-sort:hover,
.gp a[value].table-sort:active,
.gp a[value].table-sort:focus {
  text-decoration: none;
  outline: none;
}
.gp a[value].table-sort:after {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  margin-left: 3px;
}
.gp .table-pager label input {
  display: none;
}
.gp .table-pager .page-count {
  margin: 0 6px;
}
.gp td.commands-cell {
  white-space: nowrap;
}
.gp .body-cell,
.gp .table-header th {
  text-align: left;
}
.gp .gp-searchbox {
  max-width: 220px;
  float: left;
}
.gp .table > thead > tr > th {
  border-bottom: none;
}
.gp .table-header {
  border-bottom: solid 1px #ddd;
}
.gp .table-header > table {
  width: 100%;
}
.gp .table-body > table {
  width: 100%;
}
.gp .table-body > table > tbody > tr {
  background: transparent;
}
.gp input.form-control:not([type=checkbox],[type=radio]) {
  width: 100%;
}
.gp input[type=date] {
  min-width: 125px;
}
.gp th input[type=checkbox],
.gp th input[type=radio],
.gp td input[type=checkbox],
.gp td input[type=radio] {
  margin-top: 0;
  margin-bottom: 0;
}
.gp tr.update-mode td.body-cell,
.gp tr.create-mode td.body-cell {
  vertical-align: middle;
  position: relative;
}
.gp tr.update-mode td.body-cell div.btn-group,
.gp tr.create-mode td.body-cell div.btn-group {
  white-space: nowrap;
}
.gp tr.update-mode td.body-cell div.btn-group .btn,
.gp tr.create-mode td.body-cell div.btn-group .btn {
  float: none;
}
.gp tr.update-mode td.body-cell [name].error,
.gp tr.create-mode td.body-cell [name].error {
  border-color: red;
}
.gp tr.update-mode td.body-cell input[required],
.gp tr.create-mode td.body-cell input[required] {
  width: 95%;
}
.gp .modal-dialog input[type=checkbox],
.gp .modal-dialog input[type=radio] {
  width: 34px;
}
.gp .form-group {
  position: relative;
}
.gp span.required {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  font-size: 8pt;
  color: red;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gp span.required:before {
  content: '\e101';
}
.gp .gp-nodatatext {
  display: none;
}
.gp.nodata .gp-nodatatext {
  display: block;
}
.gp.nodata .table-header,
.gp.nodata .table-body,
.gp.nodata .table-footer {
  display: none;
}
